---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLink from '../components/SocialLink.astro';
import Image from 'astro/components/Image.astro';

import imgReference from '../assets/profile.jpg';

const socialLinks = [
    {
        label: "Email",
        icon: "mdi:email",
        href: "mailto:itsukikigoshi+ghiobtn@gmail.com",
    },
    {
        label: "LinkedIn",
        icon: "mdi:linkedin",
        href: "https://www.linkedin.com/in/itsukikigoshi",
    },
    {
        label: "GitHub",
        icon: "mdi:github",
        href: "https://www.github.com/itsukikigoshi",
    },
    {
        label: "Wikipedia",
        icon: "mdi:wikipedia",
        href: "https://ja.wikipedia.org/wiki/user:Itsukikigoshi",
    },
    {
        label: "Booklog",
        icon: "mdi:book-open-page-variant",
        href: "https://booklog.jp/users/itsukikigoshi",
    },
    {
        label: "IMDb",
        icon: "mdi:theaters",
        href: "https://www.imdb.com/user/ur163313033/",
    },
    {
        label: "YAMAP",
        icon: "mdi:landscape",
        href: "https://yamap.com/users/3971974",
    },
];
---

<BaseLayout title="Itsuki Kigoshi / 木越 斎 (きごし いつき)">
    <main class="flex flex-col items-center w-full">
        <div class="rounded-full overflow-hidden">
            <Image
                    src={imgReference}
                    alt="Itsuki Kigoshi"
                    class="object-cover w-48 h-48"
                    loading="eager"
            />
        </div>
        <div class="my-4 text-center">
            <h1 class="text-xl font-bold my-3">Itsuki Kigoshi / 木越 斎</h1>
            <p class="text-sm opacity-60 my-2">ICU'27 (2004)</p>
            <p class="text-base my-0.5">
                Earth Science, Contemporary Art, Climbing
            </p>
        </div>
        <nav class="flex justify-center gap-1">
            {socialLinks.map((link) => (
                    <SocialLink
                            href={link.href}
                            ariaLabel={link.label}
                            iconName={link.icon}
                    />
            ))}
        </nav>
    </main>
</BaseLayout>